body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}


header {
    background-color: #6f4e37;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
} 

.logo{
    Width: 150px ;
    Height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}
nav ul li a:hover {
    background-color: #3e2723;
    border-radius: 5px;
}

#Special-Offer {
    padding: 50px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

#Special-Offer h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333
    
   
}
.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}


#Feature {
    padding: 50px 20px;
    text-align: center;
    background-color: #f5f5f5;
}

#Feature h2 {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333
    
   
}
.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.feature-item {
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.feature-item:hover {
    transform: scale(1.05);
}

.feature-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.feature-item:hover img {
    transform: scale(1.1);
}

footer{
    background-color: #6f4e37;
    padding: 10px 20px;
  
}



